* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #ffffff;
    color: #000000;
    padding: 20px 25px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.logo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 120px;
    height: auto;
    margin-right: none;
}

.logo-name {
    font-size: 3em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-left: 20px;
    font-size: 1.5em;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    padding: 10px 15px; 
    display: block;
}

nav ul li a:hover {
    text-decoration: underline;
}

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}