* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 10px; 
}

.item-container {
    flex: 1; 
    margin-left: 220px;
    margin-top: 80px; 
    width: 1000px;
    padding: 2px; 
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-sizing: border-box; 
}

.item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; 
    background-color: #fff;  
    z-index: 10; 
    position: relative; 
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
    width: 98%; 
    box-sizing: border-box; 
}

.item-header h1 {
    display: flex;
    align-items: center;
    font-size: 28px;
    color: #333;
}

.item-header h1::before {
    content: "";
    display: inline-block;
    width: 40px;  
    height: 40px;  
    background-image: url('../image/items.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.item-header h1::before,
.item-header h1 {
    margin: 0; 
}

.item-header .btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.item-header .btn:hover {
    background-color: #0056b3;
}

.table-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    height: 81vh;
    width: 98%; 
    box-sizing: border-box; 
}

.table-container:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    background: transparent; 
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #333;
    font-weight: bold;
    color: #fff;
}

.table tbody tr:nth-of-type(odd) {
    background-color: #e1e1e1; 
}

.table tbody tr:hover {
    background-color: #e1e1e1;
}

.table tbody tr {
    overflow-y: scroll;
}

.action-btn.edit-btn {
    color: #4CAF50; 
}

.action-btn.delete-btn {
    color: #FF6347; 
}

.action-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #333;
    transition: color 0.3s ease;
}

.action-btn.edit-btn {
    color: #4CAF50; 
}

.action-btn.delete-btn {
    color: #FF6347; 
}

.graph-container {
    flex: 1; 
    margin-top: 80px; 
    margin-right: 20px; 
}

.pie-chart-container {
    width: 600px; 
    height: 885px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
}

.custom-modal {
    display: none;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
}

.custom-modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 500px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.custom-modal-header, .custom-modal-body {
    padding: 20px;
}

.custom-modal-header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-modal-title {
    margin: 0;
}

.close {
    cursor: pointer;
    font-size: 24px;
    color: #999;
}

.close:hover {
    color: #555;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-control:focus {
    outline: none;
    border-color: #333;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn-primary {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.delete-custom-modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
}

.delete-custom-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    position: relative;
    text-align: center;
}

.delete-custom-modal-header h3 {
    margin: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.delete-custom-modal-body {
    margin: 20px 0;
    padding: 0;
}

.delete-custom-modal-body p {
    margin: 10px 0;
}

.btns {
    padding: 10px 20px;
    margin: 10px 5px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
}

.confirm-btn {
    background-color: #4CAF50; 
    color: white;
}

.cancel-btn {
    background-color: #f44336; 
    color: white;
}

.confirm-btn:hover, .cancel-btn:hover {
    opacity: 0.8;
}
